<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Finance Helper</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>cs</string>
		<string>da</string>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>hr</string>
		<string>hu</string>
		<string>it</string>
		<string>ja</string>
		<string>nb</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt-BR</string>
		<string>ro</string>
		<string>ru</string>
		<string>sv</string>
		<string>tr</string>
		<string>zh-Hans</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
